<html>
<head>
  <script>
  $( function() {

    var cache = {};

    $( "#search" ).autocomplete({
      minLength: 1,

      source: function( request, response ) {
        var term = request.term;
        if ( term in cache ) {
          response( cache[ term ] );
          return;
        }
        $.getJSON( "/search_suggetions", {'searchContent': term }, function( data, status, xhr ) {
          cache[ term ] = data['result'];
          response( data['result'] );
        });

      }

    }); 

  } );
  </script>
</head>

<body>
 
<div>
  <input id="search">
</div>
 
 
</body>





