<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">

        <title>Connex.us</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <link href="/static/css/base.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <script type='text/javascript' src='js/autocomplete.js'></script>

    </head>

    <body>

    <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="navbar-brand" href="/">Connex.us</a>
                </div>
            </div>
            <div class="container">
            <form action="/search" method="post" class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" id="search_str" size=50 value="" name="search_str" class="form-control" placeholder="Type search keywords here">
                </div>
                <div class="form-group">
                <button id="search_btn" class="btn btn-primary" name="submit_btn" value="go_search">&nbsp;<i class="glyphicon glyphicon-search"></i> Search &nbsp;</button>
                </div>
            </form>
        <br>
    </div>
    </div>
        </nav>

    <!-- Header -->
        <header class="menu-header">
            <div class="container">
                <ul class="list-inline menu-button">
                    <li class="list-inline-item">
                        <a href="/manage" class="btn btn-secondary btn-lg">
                            <span class="network-name">Manage</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/create" class="btn btn-secondary btn-lg">
                            <span class="network-name">Create</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/view" class="btn btn-secondary btn-lg">
                            <span class="network-name">View</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/trending" class="btn btn-secondary btn-lg">
                            <span class="network-name">Trending</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/social" class="btn btn-secondary btn-lg">
                            <span class="network-name">Social</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url|safe }}" class="btn btn-secondary btn-lg">
                            <span class="network-name">{{ url_linktext }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="content" class="container">{% block content %}{% endblock %}</div>
    </body>
</html>