{% extends "templates/base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            {% if num_of_streams == 0 %}
                <h3>No Recommended Trending Streams For Now</h3>
            {% else %}
                <h3>Top {{ num_of_streams }} Trending Streams</h3>
            {% endif %}
            <form action="" method="post">
                {% for s in trending_streams %}
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <input name="stream_id" type="image" value="{{ s.stream_name }}" src="{{ s.cover_image }}">
                        <h5 align="center"><strong>{{ s.views_in_last_hour }}</strong> views in past hour</h5>
                    </div>
                {% endfor %}
            <form action="" method="post">
        </div>
    </div>
    <br>
    {% if logged_in %}
    <div class="row">
        <div class="col-lg-12">

            <form action="/trending" method="post">

                <div class="form-group">

                    <label class="radio-inline">
                        <select name="new_trending_setting">
                          <option value="no">No Report</option>
                          <option value="per_5min">Every 5 min</option>
                          <option value="per_1hr">Every 1 hr</option>
                          <option value="per_24hr">Every 24 hr</option>
                        </select>
                    </label>
                    <h4>Current Setting: {{trending_setting}}</h4>

                </div>
                <br>

                <div class="form-group">
                    <input class="btn btn-info" type="submit" value="Update Rate">
                </div>

            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
