{% extends "templates/base.html" %}
{% block content %}
    <script src="/static/js/dropzone.js"></script>
    <script src="/static/js/view_one_page.js"></script>
    <link href="/static/css/lightbox.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/dropzone.css" rel="stylesheet" type="text/css">
    <link href="/static/css/view_one_page.css" rel="stylesheet" type="text/css">

    <meta id="stream_name" data-name="{{ stream_name }}">
    <meta id="loaded_image" data-name="{{ loaded }}">
    <meta id="upload_url" data-name="{{ upload_url }}">


    <body>
    <h3 class="text-center">{{ stream_name }} photo stream</h3>
    <br>

    <div class="photo-container">
    {% if img_ids|length <1 %}
        {% if is_owner %}
            <h4 class="text-center">You don't have any photo yet, upload some!</h4>
            <br>
        {% else %}
            <h4 class="text-center">This stream has no photo yet, come back later!</h4>
            <br>
        {% endif %}
    {% else %}
        {% set count = 1 %}

        <div class="img-container">
            <div class="img-containerElem">
                {% for img_id in img_ids %}
                    {% if count <= 4 %}
                                <a href="/view_image?img_id={{ img_id }}" class="pop" data-lightbox="set">
                                    <input id="photo_id" name="photo_id" type="image"
                                           class="example-image-link"
                                           src="/view_image?img_id={{ img_id }}">
                                </a>
                    {% else %}
                                <a href="/view_image?img_id={{ img_id }}" class="pop" data-lightbox="set"></a>
                    {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
            </div>
        </div>

        {% if more %}
        {% endif %}
    {% endif %}
    </div>

    <div>
        <form action="/view_one?stream={{ stream_name }}&action=geoview" method="post">
            <button class="btn btn-success btn-lg" type="submit" id="geoview_btn">Geo View</button>
        </form>
    </div>

    <div>
    <br>
    {% if is_owner %}
        <div class="container">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div id="uploader" class="dropzone">
                    <div class="dz-message">Drop your awesome photos here! (or click)</div>
                </div>
                <br>
                <button class="btn btn-secondary btn-lg" id="reset_btn">Clear Selection</button>
                <button class="btn btn-primary btn-lg" type="submit" id="submit_btn">Confirm Upload</button>
                <div>* = required</div>
            </form>
            </div>
   {% endif %}
    <br>
    <form action="/view_one?stream={{ stream_name }}&action=subscribe" method="post">
        <button class="btn btn-primary btn-lg" type="submit" id="subscribe_btn">Subscribe this stream</button>
    </form>
    </div>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>

    </body>
{% endblock %}

