{% extends "templates/base.html" %}
{% block content %}

    <link href="/static/css/view_all_page.css" rel="stylesheet" type="text/css">

    <table id="stream-all" class="table nowrap">
        <tbody>
            <tr class="hide_all">
            {% for s in streams %}
                <form action="" method="post">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <input id = "stream_id" name="stream_id" class="" type="image" value="{{ s.stream_name }}" src="{{ s.cover_image }}" height="200" width="200">
                        <br>
                        <br>
                    </div>
                </form>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <p class="important">
        {{greeting}}
    </p>



{% endblock %}