{% extends "templates/base.html" %}
{% block content %}

    <style type="text/css">
        tr.hide_all > td, td.hide_all{
        border-style:hidden;
        overflow：scroll;
        }
    </style>

    <table id="stream-all" class="table nowrap" border="0" width="100%">
        <tbody>
            <tr class="hide_all">
            {% for s in streams %}
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <img class="img-responsive" src="{{ s.cover_image }}" value="{{ s.stream_name }}" alt="" height = 200 width = 300>
                    <h4 align="center">{{ s.stream_name }}</h4>
                </div>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <p class="important">
        {{greeting}}
    </p>



{% endblock %}