{% extends "templates/base.html" %}
{% block content %}
    {% for img_id in img_ids %}
    <div>
        <img src="/image?img_id={{ img_id.key.urlsafe() }}">
        <p>this is image {{ img_id.key }}</p>
    </div>
    {% endfor %}
    {% if is_owner %}
    <form action="/view_one?stream={{ stream_name }}" method="post" enctype="multipart/form-data">
        Name your photo:<br>
        <input type="text" name="title"><br>
        Coment:<br>
        <input type="text" name="comment"><br>
        Add photo:<br>
        <input type="file" name="img" value="Choose file">
        <br><br>
        <input type="submit" name="submit_btn" value="Upload this photo">
    </form>
    {% endif %}
    <form action="/view_one?stream={{ stream_name }}" method="post" enctype="multipart/form-data">
        <input type="submit" name="submit_btn" value="Subscribe this stream">
    </form>
    <p class="important">
        {{greeting}}
    </p>
{% endblock %}