{% extends "templates/base.html" %}
{% block content %}

    <style type="text/css">
        tr.hide_all > td, td.hide_all{
        border-style:hidden;
        }
    </style>

    <table id="stream-all" class="table nowrap" border="0" width="100%">
        <tbody>
            <tr class="hide_all">
            {% for s in streams %}
                <td>
                    <form action="" method="post">
                        <input name="stream_id" type="image" value="{{ s.stream_name }}" src="{{ s.cover_image }}">
                    </form>
                </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <p class="important">
        {{greeting}}
    </p>



{% endblock %}